
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@500&family=Roboto+Condensed&display=swap');

@font-face { font-family: Horsemen; src: url('Horsemen.otf'); } 
@font-face { font-family: Horsemen; font-weight: bold; src: url('Horsemen.otf');}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');


:root {
    --primary-color: #a855f7;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: #6b7280;
    --extra-light: #faf5ff;
    --max-width: 1200px;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Poppins", sans-serif;
  }
  
  nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(2, 3, 7);
    z-index: 99;
    font-family: "Oswald", sans-serif;
  }
  
  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: left;
    justify-content: space-between;
    font-family: "Oswald", sans-serif;
  }
  
  nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
  }
  nav .logo a:hover {
    color: var(--primary-color-dark);
  }
  
  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }
  nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
  }
  
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  ul li a {
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: white;
    transition: 0.3s;
  }
  
  ul li a:hover {
    
    border-bottom-color: white;
    color: white;
  }
  
  .section {
      background-image: linear-gradient(to bottom right, black, rgb(2, 3, 14));
      text-align: right;
  }
  
  .section__container {
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);  
    gap: 4rem;
    text-align: center;
  }
  

  .slogo {
  color: white;
  text-align: left;
  font-size: 3.5rem;
  text-shadow: 2px 2px black;
}


  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .portfolio {
    color: var(--primary-color);
  }
  
  .portfolio:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
  }
 
  

  @media (width < 750px) {
    nav .checkbox {
      display: block;
    }
  }




  .wrapper {
    height: 100vh;
    /*This part is important for centering*/
    display: grid;
    place-items: center;
    color: white;
    text-align: center;
  }
  
  .typing-demo {
    width: 100ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }